
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5e6d3; 
    color: #3d2b1f;
    position: relative;
    overflow-x: hidden;
}


body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 550px;
    background: url("/static/img/fundo.png") no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
    opacity: 0.04;
    z-index: -1;
}


   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8%; 
    background: #662c09;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    width: 250px;      /* Aumente ou diminua este valor para ajustar a escala */
    height: auto;     /* Mantém a proporção original da imagem */
    display: block;
}


.espaço {
    height: 90px; 
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #fde68a;
}

.logout, .Adm {
    background: #c18d6a;
    padding: 8px 18px;
    border-radius: 20px;
}

.espaço {
    height: 90px; 
}




footer {
    text-align: center;
    padding: 25px;
    background: #662c09;
    color: white;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    nav a {
        margin: 0 10px;
    }
}