<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural - Memória Potiguar</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conteudo.css') }}">
</head>
<body class="body-conteudo">

    <header>
        <div class="logo">
            <a href="/index">
                <img src="{{ url_for('static', filename='img/logo5.png') }}" alt="Logo Memória Potiguar">
            </a>
        </div> 
        
        <nav>
            
            <form action="/buscar" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Pesquisar..." aria-label="Pesquisar">
                <button type="submit">
                    
                </button>
            </form>
    
            <a href="/index">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/login" class="Adm">Administração</a>
        </nav>
    </header>

    <div class="spacer"></div>

    <div class="faixa-imagem">
         <img src="{{ url_for('static', filename='img/cutural1.png') }}">
    </div>

    <section class="container-flex-cards">

        <a href="/detalhe/serra" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/serra1.jpg') }}">
                <div class="card-content">
                    <h3>Serra do João do vale</h3>
                    <p> A Serra do João do Vale é um importante complexo serrano localizado entre os estados do Rio Grande do Norte...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/nova_barra" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/barranova1.png') }}">
                <div class="card-content">
                    <h3>Nova Barra de Santana</h3>
                    <p> A Nova Barra de Santana é uma comunidade planejada e construída do zero para abrigar a população da antiga vila (Velha Barra de Santana)...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/mercado_publico" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/mercado1.jpg') }}">
                <div class="card-content">
                    <h3>Mercado Publico de Caico</h3>
                    <p>: O Mercado Público de Caicó é um importante patrimônio histórico e comercial da cidade de Caicó, na região do Seridó Potiguar...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/festa_da_barra" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/festabarra1.png') }}">
                <div class="card-content">
                    <h3>Festa da Barra de Santana</h3>
                    <p>A Festa de Sant’Ana de Barra de Santana é uma importante manifestação religiosa e cultural do distrito de Barra de Santana, em Jucurutu...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/calvagada" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/cavalgada1.png') }}">
                <div class="card-content">
                    <h3>calvagada de santana</h3>
                    <p>A Cavalgada de Sant’Ana é uma importante manifestação cultural e religiosa do Seridó Potiguar, integrada às festividades de Sant’Ana de Caicó...</p>
                </div>
            </div>
        </a>
        
        <a href="/detalhe/barragem" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/barragem1.png') }}">
                <div class="card-content">
                    <h3>Barragem de Oiticica</h3>
                    <p>A Barragem de Oiticica é uma das principais obras de infraestrutura hídrica do Rio Grande do Norte e está localizada no município de Jucurutu, na região do Seridó Potiguar...</p>
                </div>
            </div>
        </a>
    
        <a href="/detalhe/casacultura" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/casacultura.png') }}">
                <div class="card-content">
                    <h3>Casa de Cultura</h3>
                    <p>O prédio é histórico, com origem no século XIX, tendo sido construído por volta de 1811. Durante parte de sua história...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/museuserido" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/museuserido2.jpg') }}">
                <div class="card-content">
                    <h3>Museu do Seridó</h3>
                    <p> O museu foi fundado em 1962 pelo padre Antenor Salvino de Araújo, sendo chamado inicialmente de “Museu Pena de Ouro”...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/casapedra" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/casapedra.png') }}">
                <div class="card-content">
                    <h3>Casa de Pedra</h3>
                    <p>Uma caverna natural de formação geológica (mármore). Fica a aproximadamente 300 metros de extensão e...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/arcotriunfo" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/arcotriunfo3.jpg') }}">
                <div class="card-content">
                    <h3>Arco do Triunfo</h3>
                    <p> O Arco do Triunfo de Caicó é um marco histórico que, apesar do nome grandioso...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/catedralsantana" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/catedralsantana1.jpg') }}">
                <div class="card-content">
                    <h3>Catedral de Sant'Ana</h3>
                    <p>A Catedral de Sant'Ana é o principal templo religioso e um dos maiores símbolos históricos e culturais do Seridó potiguar...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/igrejarosario" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/igrejarosario1.jpg') }}">
                <div class="card-content">
                    <h3>Igreja do Rosário</h3>
                    <p> A Igreja de Nossa Senhora do Rosário, também conhecida como Santuário do Rosário, é um dos templos mais antigos e significativos de Caicó...</p>
                </div>
            </div>
        </a>
    
    </section>

   <a href="/index" class="btn">← Voltar para Categorias</a>

    <footer>
        © 2026 Memória Potiguar | IFRN - Caicó
    </footer>

</body>
</html>