<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos - Memória Potiguar</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conteudo.css') }}">
</head>
<body class="body-conteudo">

    <header>
        <div class="logo">
            <a href="/index">
                <img src="{{ url_for('static', filename='img/logo5.png') }}" alt="Logo Memória Potiguar">
            </a>
        </div> 
        
        <nav>
            
            <form action="/buscar" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Pesquisar..." aria-label="Pesquisar">
                <button type="submit">
                    
                </button>
            </form>
    
            <a href="/index">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/sugestao">Sugerir local</a>
            <a href="/login" class="Adm">Administração</a>
        </nav>
    </header>

    <div class="spacer"></div>

    <div class="faixa-imagem">
         <img src="{{ url_for('static', filename='img/eventos.png') }}">
    </div>

    <section class="container-flex-cards">
    
        <a href="/detalhe/festasantana" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/festasantana4.jpg') }}">
                <div class="card-content">
                    <h3>Festa de Sant'Ana</h3>
                    <p>A Festa de Sant'Ana é a maior e mais tradicional celebração do Seridó, um evento que transcende o religioso e se consolida...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/museuserido" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/museuserido1.jpg') }}">
                <div class="card-content">
                    <h3>Museu do Seridó</h3>
                    <p> O museu foi fundado em 1962 pelo padre Antenor Salvino de Araújo, sendo chamado inicialmente de “Museu Pena de Ouro”...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/festarosario" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/festarosario2.png') }}">
                <div class="card-content">
                    <h3>Festa do Rosário</h3>
                    <p> A Festa do Rosário em Caicó é uma das mais antigas e significativas manifestações culturais e religiosas do Seridó...</p>
                </div>
            </div>
        </a>

    </section>

   <a href="/index" class="btn">← Voltar para Categorias</a>

    <footer>
        © 2026 Memória Potiguar | IFRN - Caicó
    </footer>

</body>
</html>