<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia - Memória Potiguar</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conteudo.css') }}">
</head>
<body class="body-conteudo">

    <header>
        <div class="logo">
            <a href="/index">
                <img src="{{ url_for('static', filename='img/logo5.png') }}" alt="Logo Memória Potiguar">
            </a>
        </div>
        <nav>
            <a href="/index">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/login" class="Adm">Administration</a>
        </nav>
    </header>

    <div class="spacer"></div>

    <div class="faixa-imagem">
        <img src="{{ url_for('static', filename='img/gastronomico1.png') }}">
    </div>

    <section class="container-flex-cards">

        <a href="/detalhe/recantotapera" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/taapera.jpg') }}">
                <div class="card-content">
                    <h3>Recanto da Tapera</h3>
                    <p>O Recanto da Tapera faz da gastronomia uma extensão da sua própria história, servindo o autêntico sabor do Seridó...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/temperoterra" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/terra.jpg') }}">
                <div class="card-content">
                    <h3>Tempero da Terra</h3>
                    <p>O restaurante Tempero da Terra, em Caicó, é uma das principais referências em comida regional e caseira da cidade...</p>
                </div>
            </div>
        </a>

        <a href="/detalhe/zorro" class="card-link">
            <div class="card">
                <img src="{{ url_for('static', filename='img/zorro.jpg') }}">
                <div class="card-content">
                    <h3>Churrascaria do Zorro</h3>
                    <p>A Churrascaria do Zorro, em Jucurutu, é uma das referências mais tradicionais quando se busca a verdadeira culinária regional...</p>
                </div>
            </div>
        </a>

    </section>

    <a href="/index" class="btn">← Voltar para Categorias</a>

    <footer>
        © 2026 Memória Potiguar | IFRN - Caicó
    </footer>

</body>
</html>