<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arco do Triunfo - Detalhes</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conteudo.css') }}">
</head>
<body class="body-conteudo pagina-detalhe">

    <header>
        <div class="logo">
            <a href="/index">
                <img src="{{ url_for('static', filename='img/logo5.png') }}" alt="Logo Memória Potiguar">
            </a>
        </div> 
        
        <nav>
            
            <form action="/buscar" method="GET" class="search-form">
                <input type="text" name="q" placeholder="Pesquisar..." aria-label="Pesquisar">
                <button type="submit">
                    🔍
                </button>
            </form>
    
            <a href="/index">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/sugestao">Sugerir local</a>
            <a href="/login" class="Adm">Administração</a>
        </nav>
    </header>

    <div class="spacer"></div>

    <main class="detalhe-container" data-categoria="HISTÓRICO">

        <h1 class="detalhe-titulo">Arco do Triunfo</h1>
        <p class="detalhe-subtitulo">Monumento de fé e devoção</p>

        <section class="galeria-secao" data-secao="galeria">
    <h2>Galeria do Lugar</h2>

    <div class="galeria-grid">

<div class="galeria-item">
    <img src="{{ url_for('static', filename='img/arcotriunfo1.jpg') }}"
         alt="Foto 1 do Arco do Triunfo">

    <a class="credito-imagem"
       href=link
       rel="noopener noreferrer">

        <span>Fonte: Própria</span>
        <span class="seta">↗</span>

    </a>
</div>
<div class="galeria-item">
    <img src="{{ url_for('static', filename='img/arcotriunfo2.jpg') }}"
         alt="Foto 2 do Arco do Triunfo">

    <a class="credito-imagem"
       href=https://upload.wikimedia.org/wikipedia/commons/2/21/O_Arco_do_Triunfo_de_Caic%C3%B3%2C_RN.jpg       
       rel="noopener noreferrer">

        <span>Fonte: Wikipedia</span>
        <span class="seta">↗</span>

    </a>
</div>
<div class="galeria-item">
    <img src="{{ url_for('static', filename='img/arcotriunfo3.jpg') }}"
         alt="Foto 3 do Arco do Triunfo">

    <a class="credito-imagem"
       href=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSef2nSveE4zMa1cC73HdQ3RhajNQC1ugSxn_pVS1NL6Q&s=10
       rel="noopener noreferrer">

        <span>Fonte: gstatic</span>
        <span class="seta">↗</span>

    </a>
</div>

<div class="galeria-item">
    <img src="{{ url_for('static', filename='img/arcotriunfo4.jpg') }}"
         alt="Foto 4 do Arco do Triunfo">

    <a class="credito-imagem"
       href=https://upload.wikimedia.org/wikipedia/commons/0/01/O_Arco_do_Triunfo_de_Caic%C3%B3.jpg?utm_source=pt.wikipedia.org&utm_campaign=index&utm_content=original
       rel="noopener noreferrer">

        <span>Fonte: Wikipedia</span>
        <span class="seta">↗</span>

    </a>
</div>
    </div>

                        </section>

        <section class="info-secao resumo-secao" data-secao="resumo">
            <h2>Resumo</h2>
            <p>O Arco do Triunfo de Caicó é um marco histórico que, apesar do nome grandioso, homenageia um evento de fé e não uma conquista militar.</p>
        </section>

        <section class="info-secao historia-secao" data-secao="historia">
            <h2>História</h2>
            <p>O Arco do Triunfo é um dos cartões-postais mais fotografados de Caicó, localizado na Praça Monsenhor Walfredo Gurgel, bem em frente à imponente Catedral de Sant'Ana. Construído em 1953 , o monumento foi erguido para homenagear a passagem da imagem peregrina de Nossa Senhora de Fátima pela cidade, um evento que marcou profundamente a devoção dos caicoenses. Com sua arquitetura que remete aos arcos triunfais romanos, o monumento serve como um portal simbólico, coroando a bela perspectiva da praça e da Catedral.</p>
            <p>Ele é um dos principais cenários dos festejos de Sant'Ana, sendo palco de missas campais, procissões e do encontro de fiéis. Recentemente, o Arco do Triunfo e a Catedral receberam uma revitalização em sua pintura, tornando essa região icônica ainda mais bela e valorizada para os moradores e visitantes.</p>
        </section>

        <section class="info-secao curiosidades-secao" data-secao="curiosidades">
            <h2>Curiosidades</h2>
            <ul class="curiosidades-lista">
                <li>Construído em 1953 , o monumento foi erguido para homenagear a passagem da imagem peregrina de Nossa Senhora de Fátima pela cidade, um evento que marcou profundamente a devoção dos caicoenses.</li>
                <li>Com sua arquitetura que remete aos arcos triunfais romanos, o monumento serve como um portal simbólico, coroando a bela perspectiva da praça e da Catedral.</li>
                <li>Ele é um dos principais cenários dos festejos de Sant'Ana, sendo palco de missas campais, procissões e do encontro de fiéis.</li>
            </ul>
        </section>

        <section class="info-secao localizacao-secao" data-secao="localizacao">
            <h2>Localização</h2>
            <p><strong>Endereço:</strong> Praça Monsenhor Walfredo Gurgel 
            </p>
            
            <div id="mapa"></div>
        </section>

        <a href="javascript:history.back()" class="btn">← Voltar</a>

    </main>

    <footer>
        © 2026 Memória Potiguar | IFRN - Caicó
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        function inicializarMapa() {
            var lat = -6.4578488;
            var lng = -37.0943184;   
            // 1. CAMADA PADRÃO: Mapa Comum (OpenStreetMap)
            var mapaComum = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            });

            // 2. CAMADA DE SATÉLITE: Imagens reais (Esri World Imagery)
            var mapaSatelite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            });

            // Inicializa o mapa adicionando a versão comum por padrão
            var mapa = L.map('mapa', {
                center: [lat, lng],
                zoom: 14,
                layers: [mapaComum] // Mapa inicial
            });

            // Adiciona o marcador com texto fixo
            L.marker([lat, lng])
                .addTo(mapa)
                .bindPopup("<br>Muséu Do Seridó, Caicó- RN")
                .openPopup();

            // 3. CONTROLE DE CAMADAS: Cria o seletor no canto superior direito
            var mapasDisponiveis = {
                "Mapa Padrão": mapaComum,
                "Satélite": mapaSatelite
            };

            // Adiciona o botão de escolha na tela
            L.control.layers(mapasDisponiveis, null, { collapsed: false }).addTo(mapa);

            // Ajuste automático antiquebra de tamanho
            setTimeout(function() {
                mapa.invalidateSize();
            }, 300);
        }

        window.onload = inicializarMapa;
    </script>
    <script src="{{ url_for('static', filename='js/detalhe.js') }}"></script>
</body>
</html>